trigger: none
pool: security
variables:
- group: Infracost_API_KEY
  
stages:
  - stage: 
    displayName: tool
    jobs:
      - job: 
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/module'
            backendServiceArm: 'security'
            backendAzureRmResourceGroupName: 'ravinder_storage'
            backendAzureRmStorageAccountName: 'ravinderstg'
            backendAzureRmContainerName: 'ravindercon'
            backendAzureRmKey: 'ravi.tfstate'
        - task: PowerShell@2
          continueOnError: true
          displayName: Infra Cost Estimation
          inputs:
            targetType: 'inline'
            script: |
              Invoke-WebRequest https://github.com/infracost/infracost/releases/latest/download/infracost-windows-amd64.tar.gz -OutFile infracost.tar.gz
              tar -xvf infracost.tar.gz
              .\infracost.exe --version
              $env:INFRACOST_API_KEY = "$(INFRACOST_API_KEY)"
              .\infracost.exe breakdown --path '$(System.DefaultWorkingDirectory)/module' --format table
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/module'
            environmentServiceNameAzureRM: 'security'
  - stage: 
    displayName: scanining
    jobs:
      - job: 
        steps:
        - task: tfsec@1
          continueOnError: true
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)'
        - task: PowerShell@2
          displayName: Checkov Scan (Soft Fail)
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              python -m pip install --upgrade pip
              pip install checkov

              checkov `
                -d $(System.DefaultWorkingDirectory) `
                -o cli `
                --soft-fail
