trigger: none
pool: security
variables:
- group: Infracost_API_KEY
  
stages:
  - stage: 
    displayName: tool
    jobs:
      - job: 
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/module'
            # backendServiceArm: 'security'
            # backendAzureRmResourceGroupName: 'ravinder_storage'
            # backendAzureRmStorageAccountName: 'ravinderstg'
            # backendAzureRmContainerName: 'ravindercon'
            # backendAzureRmKey: 'ravi.tfstate'
            backendServiceArm: '$(AZURE_SERVICE_CONNECTION)'
            backendAzureRmResourceGroupName: '$(TF_BACKEND_RG)'
            backendAzureRmStorageAccountName: '$(TF_BACKEND_STG)'
            backendAzureRmContainerName: '$(TF_BACKEND_CONTAINER)'
            backendAzureRmKey: '$(TF_BACKEND_KEY)'

        - task: PowerShell@2
          continueOnError: true
          displayName: Infra Cost Estimation
          inputs:
            targetType: 'inline'
            script: |
              Invoke-WebRequest https://github.com/infracost/infracost/releases/latest/download/infracost-windows-amd64.tar.gz -OutFile infracost.tar.gz
              tar -xvf infracost.tar.gz
              .\infracost.exe --version
              $env:INFRACOST_API_KEY = "$(INFRACOST_API_KEY)"
              .\infracost.exe breakdown --path '$(System.DefaultWorkingDirectory)/module' --format table
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/module'
            environmentServiceNameAzureRM: 'security'
  - stage: 
    displayName: scanining
    jobs:
      - job: 
        steps:
        - task: tfsec@1
          continueOnError: true
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)'
        
        - task: UsePythonVersion@0
          displayName: Install Python
          inputs:
            versionSpec: '3.x'
            addToPath: true

        - task: PowerShell@2
          displayName: Checkov Scan (Soft Fail)
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              python --version
              python -m pip install --upgrade pip
              pip install checkov

              checkov `
                -d $(System.DefaultWorkingDirectory)/module `
                -o cli `
                --soft-fail
